---
BasedOnStyle: Google
# BreakBeforeBraces: Allman
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: true
    AfterStruct: true
    AfterFunction: true
    AfterControlStatement: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false